{
  "extends": [
    "standard",
    "plugin:react/recommended"
  ],
  "plugins": [
    "cypress"
  ],
  "env": {
    "node": true,
    "browser": true,
    "es6": true,
    "cypress/globals": true
  }
}