@import '../globals';
@import '../buttons';
@import '../inputs';

.backButton {
  @extend %subtitle;

  // color
  color: $primary;
}

.verticallyCenter {
  @extend %verticalAlign;

  // display
  height: 30vh;
}

.inputContainer {
  // display
  display: flex;
}

.numberInput {
  @extend %input;
  @extend %input1-font;

  // display
  min-width: 0;
  margin: 1vw;

  // font
  font-size: 2em;
  text-align: center;

  // hide the number spinners
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
}