@import '../globals';
@import '../buttons';

.topPadding {
  // display
  padding-top: 16pt;
}

// --- FIRST CONTAINER ---

.responsiveFirstContainer {
  @include md {
    // display
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 100pt;
    padding-bottom: 100pt;

    & > * {
      flex: 1;
    }
  }
}

.artwork, .render {
  // display
  width: 100%;
  order: 2;
}

// Show artwork if less than md
.artwork {
  @include md {
    // display
    display: none;
  }
}

.render {
  // display
  display: none;

  @include md {
    // display
    display: block;
    max-width: 300pt;
    width: 0; // so the image will scale down
    height: 100%;
  }
}

.firstContainerSideGroup {
  order: 1;
}

.padding {
  // display
  padding: 24pt 14pt;

  @include md {
    padding-bottom: 7pt;
  }
}

.firstContainerSubtitle {
  @extend %subtitle;

  @include md {
    // font
    font-size: 2.5em;
    font-weight: 300;
  }
}

.buttonGroup {
  // display
  padding: 0 14pt;
}

%index-button {
  @extend %button;
  @extend %button1-font;

  // display
  width: 100%;
  height: 44px;
}

%index-button-description {
  @extend %paragraph;
  @extend %text-center;

  // color
  color: $gray;

  // display
  padding: 8pt 0 24pt 0;
}

.getStarted {
  @extend %index-button;

  @include md {
    // display
    width: auto;
    padding-left: 24pt;
    padding-right: 24pt;
  }
}

.getStartedDescription {
  @extend %index-button-description;

  @include md {
    // display
    display: none;
  }
}

// --- SECOND CONTAINER ---
%container-padding {
  // display
  padding: 48pt 14pt;

  @include md {
    // display
    padding-top: 100pt;
    padding-bottom: 100pt;
  }
}

.secondContainer {
  @extend %container-padding;

  // color
  background: $lightgray;
}

.partySvg {
  // display
  display: block;
  margin: 0 auto;
}

.partyGroup {
  // display
  padding-top: 48pt;
}

.partyTitle {
  @extend %hero;
  @extend %text-center;
}

.partySubtitle {
  @extend %title;
  @extend %text-center;
  
  // color
  color: $darkgray;
}

.responsiveSteps {
  @include md {
    // display
    display: flex;
    max-width: 800pt;
    margin: 0 auto;
    padding-top: 48pt;

    & > * {
      // flex
      flex: 1;
    }
  }
}

.stepNumber {
  @extend %text-center;

  // color
  color: $gray;

  // font
  font-size: 2.2em;

  // display
  padding-top: 16pt;
  padding-bottom: 8pt;
}

.stepTitle {
  @extend %title;
  @extend %text-center;

  // font
  font-size: 2.2em;
  font-weight: 500;
}

.stepDescription {
  @extend %paragraph;
  @extend %text-center;

  // color
  color: $darkgray;
}

// --- THIRD CONTAINER ---
.thirdContainer {
  @extend %container-padding;

  // color
  background: $primary;

  @include md {
    // display
    display: flex;

    & > * {
      // flex
      flex: 1;
    }
  }
}

.addSongGif {
  // display
  display: block;
  width: calc(100% - 2 * 48px);
  margin: 0 auto;

  // shadow
  box-shadow: 0 10pt 11pt rgba(77, 77, 77, 40);

  @include md {
    // display
    max-width: 200pt;
    height: 100%;
  }
}

.thirdContainerText {
  @include md {
    // display
    display: flex;

    // flex
    flex-direction: column;
    justify-content: center;
  }
}

.whiteTitle {
  @extend %hero;
  @extend %text-center;

  // color
  color: $white;

  // display
  padding-top: 48pt;

  @include md {
    // font
    text-align: left;
  }
}

.whiteDescription {
  @extend %title;
  @extend %text-center;

  // color
  color: $lightgray;

  // display
  padding: 24pt 0;

  // font
  font-size: 2.2em;

  @include md {
    // font
    text-align: left;
  }
}

// --- FOURTH CONTAINER ---
.fourthContainer {
  @extend %container-padding;
}

.convincingTitle {
  @extend %hero;
  @extend %text-center;

  padding-bottom: 24pt;
}

.startAParty {
  @extend %index-button;

  // display
  display: block;
  margin: 0 auto;
  max-width: 168pt;

  @include md {
    // display
    max-width: 304pt;
    margin-bottom: 8pt;
  }
}

.startAPartyDescription {
  @extend %index-button-description;
}