@import '../globals';

.footerContainer {
  // color
  background: $black;

  // display
  padding-bottom: 0;
}

.flexContainer {
  // display
  display: flex;
  padding: 32pt;

  @include md {
    // display
    margin: 0 auto;
    max-width: 600pt;
  }
}

.footerSubContainer {
  // flex
  flex: 1;
}

.footerLink {
  @extend %subtitle;

  // display
  display: block;
  padding: 2pt;

  // color
  color: $lightgray;

  // font
  font-size: 12pt;
  font-weight: 500;
  text-decoration: none;
}

%footerTitle {
  @extend %subtitle;

  // font
  font-size: 12.5pt;
  font-weight: bold;
}

// SPOTSYNC container
.spotsyncTitle {
  @extend %footerTitle;

  // color
  color: $tertiary;
}

// SUPPORT container
.supportTitle {
  @extend %footerTitle;

  // color
  color: $warning;
}

// Copyright
.copyright {
  @extend %paragraph;
  @extend %text-center;

  // color
  color: $gray;

  // display
  margin-top: 16pt;
  padding: 8pt 0;

  // font
  font-size: 10pt;
}