@import './colors';

// BUTTON FONT

%button-font {
  // color
  color: $lightgray;

  // font
  text-align: center;
}

%button1-font {
  @extend %button-font;

  // font
  font-size: 1.5em;
  font-weight: 600;
}

%button2-font {
  @extend %button-font;

  // font
  font-size: 1em;
  font-weight: 600;
}

%button {
  // color
  background: $primary;

  // border
  border: 0;
  border-radius: 2px;

  // shadow
  box-shadow: 0 1px 1px rgba($secondary, 0.5);

  // transition
  transition: background 0.2s, box-shadow 0.2s;
}

%button:active {
  // border
  background: $secondary;

  // shadow
  box-shadow: none;
}

%button:focus {
  // outline
  outline: none;
}