@import './colors';

// BUTTON FONT

%button1-font {
  // color
  color: $lightgray;

  // font
  font-size: 1.5em;
  font-weight: 600;
}

%button {
  // color
  background: $primary;

  // border
  border: 0;
  border-radius: 2px;
}