// VARIABLES

// vibrant
$primary: #4F52EA;
$secondary: #403EBE;
$tertiary: #EAC34F;

// grayscale
$black: #161616;
$gray: #B6B6B6;
$lightgray: #F9F9F9;

// indicators
$success: #46BC48;
$warning: #E47600;
$error: #EB4C00;

// extra colors
$white: #fff;
$muted: #687282;
$darkgray: #515151;
