@import 'colors';
@import 'breakpoints';

// FONT FACES

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: normal;
  font-style: normal;
	src: url('/static/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/static/fonts/SourceSansPro-SemiBold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('/static/fonts/SourceSansPro-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

// GLOBAL FONTS

html, body {
  // A snippet from https://css-tricks.com/snippets/css/system-font-stack/ :
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 7.5pt;
  color: $black;

  @include sm {
    font-size: 8.5pt;
  }

  @include md {
    font-size: 9.5pt;
  }

  @include lg {
    font-size: 10.5pt;
  }
}

h1, h2, h3, h4, h5, h6, p {
  // display
  margin: 0;

  // font
  font-weight: initial;
}

sub {
  display: block;
}

// DEFINED FONTS

%hero {
  font-weight: bold;
  font-size: 3em;
}

%title {
  font-size: 1.9em;
}

%subtitle {
  // color
  color: $darkgray;

  // font
  font-size: 1.6em;
}

%paragraph {
  font-size: 1.4em;
}

// CLASS FONTS

.hero {
  @extend %hero;
}

.title {
  @extend %title;
}

.subtitle {
  @extend %subtitle;
  
  // color
  color: $darkgray;
}

.paragraph {
  @extend %paragraph;
}

// DEFINED STYLES

%semibold {
  // font
  font-weight: 500;
}

%bold {
  // font
  font-weight: bold;
}

%text-center {
  // font
  text-align: center;
}